RewriteEngine On
RewriteBase /work/PiePHP/
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_URI} !^/work/PiePHP/(webroot/.+|index\.php|robots\.txt)$
RewriteRule ^ index.php [QSA,L]
