body {
  color: #1f5468;
  /* background-image: url(../assets/projecteur.jpg); */
}

@font-face {
  font-family: "Saniretro";
  src: url("../assets/font/Saniretro.ttf");
}

@font-face {
  font-family: "CaviarDreams_Bold";
  src: url("../assets/font/CaviarDreams_Bold.ttf");
}

.main-content h1 {
  color: #083b57;
  font-family: "Saniretro";
  font-size: 4em;
}

.btn-list, .btn-go {
  background-color: #f27958;
  color: #fff;
}

.btn-list {
  margin-top: 10%;
  margin-bottom: 30%;
}

.btn-go {
  margin-left: 10px;
}

.main-content {
  font-family: "CaviarDreams_Bold";
  margin-left: -15px;
  padding-left: 0;
  color: #083b57;
}

tbody tr:hover {
  background-color: #f4975e;
  color: #fff;
}

td {
  text-align: left;
}

.navbarInline {
  background-color: #d4f1e9;
  font-family: "CaviarDreams_Bold";
  font-size: 1.2em;
}

.navbar-nav {
  width: 400px;
}

.nav-item {
  margin-left: auto;
  margin-right: auto;
}

.info_film {
  text-align: left;
}