html, body {
  color: #1f5468;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Saniretro";
  src: url("../assets/font/Saniretro.ttf");
}

@font-face {
  font-family: "CaviarDreams_Bold";
  src: url("../assets/font/CaviarDreams_Bold.ttf");
}

.main-content h1 {
  color: #083b57;
  font-family: "Saniretro";
  font-size: 6em;
}

.btn-list, .btn-go {
  background-color: #f27958;
  color: #fff;
}

.btn-list {
  margin-top: 10%;
  margin-bottom: 30%;
}

.btn-go {
  margin-left: 10px;
}

tbody tr:hover {
  background-color: #f4975e;
  color: #fff;
}

td, th {
  text-align: left;
  font-size: 1.4em;
}

.navbarInline {
  background-color: #d4f1e9;
  font-family: "CaviarDreams_Bold";
  font-size: 1.6em;
  margin-left: 0px;
}

.navbar-nav {
  width: 500px;
}

.nav-item {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 80%;
  margin-bottom: 34%;
  border: 20px solid #1f5468;
  background-color: rgba(255, 255, 255, 0.9);
}

.file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info_film {
  display: block;
  text-align: center;
  font-size: 1.4em;
  margin: 10%;
  border: 30px solid #1f5468;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  /* border-image: url('../assets/logo_cinema.jpg') 20; */
}

#form_info {
  display: none;
}

#form_pref {
  display: none;
}

.delete:hover {
  color: red;
}

.form_film h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 2em;
}

.form_film {
  font-size: 1.3em;
}

.champs {
  font-size: 1.2em;
  font-family: "CaviarDreams_Bold";
}

.return a {
  font-size: 2em;
}

.tableau {
  background-color: red;
}